/* FONTES USADAS:
font-family: 'Roboto Condesed', sans-serif; BODY
font-family: 'Libre Baskerville', serif; NOME
font-family: 'Roboto Slab', serif; TÍTULOS
*/

/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(6, 38, 88);
    background-size: 100vw 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
    font-family: 'Roboto Condesed', sans-serif;
}

/* breakpoint: se a tela tiver pelo menos 700px vai carregar o estilo abaixo */
@media (min-width: 700px) {
    header {
        height: 100vh;
    }
}

header {
    /*background-image: url("../img/bg.jpg");*/
    background-color: cadetblue;
    background-size: 100vw 100vh;
    /*opacity: 0.8;*/
    height: 100vh;
    display: flex; /* um ao lado do outro */
    justify-content: space-around; /* alinha com espaço ao redor */
    align-items: center;
}

.menu {
    background-color: white;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex; /* um ao lado do outro */
    justify-content: space-around; /* alinha com espaço ao redor */
}

.menu li {
    list-style: none;
}

.menu a {
    color: teal;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color: whitesmoke;
    border-bottom-right-radius: 20%;
}

@media (min-width: 610px)
.menu {
    font-size: 2em;
}

@media (min-width: 320px)
.menu {
    font-size: 1em;
}
@media (min-width: 200px)
.menu {
    font-size: .8em;
}

.img-dev {
    border-width: 5px;
    border-style: inset;
    box-shadow: 0px 0px 20px rgb(211, 216, 224);
    /*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);*/
    border-radius: 50%;
    display: block;
    filter: contrast(120%);
    filter: saturate(120%);
    height: 180px;
    margin: auto;
    margin-bottom: 1em;
    object-fit: cover;
    width: 180px;
}

.img-dev:active,
.img-dev:hover {
    box-shadow: 0px 0px 20px rgb(6, 38, 88, 1);
}

.title {
    color: whitesmoke;
    text-align: center;
    /*animation: linear 2s animaTitle;*/
}

@keyframes animaTitle {
    0% {
        transform: scale(.2) translateY(50vh);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.title-dev {
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;  
    line-height: 1.5em;
}

.subtitle-dev {
    font-size: 2em;
    line-height: 2em;
}

.educ-dev {
    font-size: 2em;
    line-height: 1.5em;
}

@media (min-width: 200px) {
    .menu {
        font-size: .8em;
    }
    .menu a {
        padding: 10px 10px;
    }
    .title-dev {
        font-size: 2em;
    }
    .subtitle-dev, .educ-dev {
        font-size: 1.5em;
    }
}

@media (min-width: 320px) {
    .menu {
        font-size: 1em;
    }
    .menu a {
        padding: 10px 20px;
    }
    .title-dev {
        font-size: 2em;
    }
    .subtitle-dev, .educ-dev {
        font-size: 1.5em;
    }
}

.projeto {
    display: flex;
    align-items: center;
}

.projeto figcaption {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.projeto .img-cards {
    float: left;
}

.projeto h3 {
    color: whitesmoke;
    font-size: 1.5em;
    padding: 20px;
}

.projeto h3 a {
    color: aquamarine;
}

.projeto p {
    padding: 5px;
}

.projetos .grid {
    padding-top: 30px;
}

.contato,
.estudos,
.projetos {
    padding: 2em;
    /*min-height: 100vh;*/
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.contato h2,
.estudos h2,
.projetos h2 {
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 3em;
    margin: 1em;
    overflow: hidden;
}

.contato h2:before,
.contato h2:after,
.estudos h2:before,
.estudos h2:after,
.projetos h2:before,
.projetos h2:after {
    background-color: whitesmoke;
    content: "";
    display: inline-block;
    height: .1em;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.contato h2:before,
.estudos h2:before,
.projetos h2:before  {
    right: 0.5em;
    margin-left: -50%;
}

.contato h2:after,
.estudos h2:after,
.projetos h2:after {
    left: 0.5em;
    margin-right: -50%;
}

.estudos .grid,
.projetos .grid {
    display: grid;
    gap: 2em; /* espaçamentro entre cada c/l do grid */
}

@media (min-width: 610px) {
    .menu {
        font-size: 2em;
    }
    .menu a {
        padding: 10px 20px;
    }
    .title-dev {
        font-size: 3em;
    }
    .subtitle-dev, .educ-dev {
        font-size: 2em;
    }
    .estudos .grid,
    .projetos .grid {
        grid-template-columns: repeat(2, 260px); /* tres colunas de 240px */
        justify-content: center;
    }
}

@media (min-width: 850px) {
    .estudos .grid,
    .projetos .grid {
        grid-template-columns: repeat(3, 260px); /* tres colunas de 240px */
        justify-content: center;
    }
}

@media (min-width: 1150px) {
    .estudos .grid,
    .projetos .grid {
        grid-template-columns: repeat(4, 260px); /* tres colunas de 240px */
        align-content: center;
        justify-content: center;
        /*height: calc(100vh - 4em - 48px - 2em);*/
    }
}

.estudos figure,
.projetos figure {
    text-align: center;
}

.img-cards {
    height: 200px;
    width: 250px;
    object-fit: cover; /* imagens encaixando no tamanho passado */
    /*object-position: left bottom;*/
    border-radius: 10%;
    transition: transform 1s;
}

.img-cards:active,
.img-cards:hover {
    box-shadow: 0px 0px 10px rgba(255,255,255,.5);
    object-fit: cover; /* imagens encaixando no tamanho passado */
    opacity: 0.8;
    transform: scale(1.1) rotate(5deg);
}

figcaption {
    color: whitesmoke;
    font-size: 1.5em;
}

.contato a {
    color:whitesmoke;
    font-size: 4em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 20px rgba(255,255,255,.5);
}

.contato .icons {
    text-align: center;
}

.fab, .fas {
    padding: 10px;
}

footer {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: 1.5em;
}
