/*
font-family: 'Comfortaa', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Source Code Pro', monospace;
*/

/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    background-size: 100vw 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
}

/* breakpoint: se a tela tiver pelo menos 400px vai carregar o estilo abaixo */
@media (min-width: 700px) {
    header {
        height: 100vh;
    }
}

header {
    /*background-image: url("../img/bg.jpg");*/
    background-color: rgb(9, 50, 116);
    background-size: 100vw 100vh;
    opacity: 0.8;
    height: 100vh;
    display: flex; /* um ao lado do outro */
    justify-content: space-around; /* alinha com espaço ao redor */
    align-items: center;
}

.menu {
    background-color: white;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex; /* um ao lado do outro */
    justify-content: space-around; /* alinha com espaço ao redor */
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.img-dev {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.site-title,
.site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;    
}

.site-subtitle {
    font-size: 2.4em;
    font-family: 'Shadows Into Light', monospace;
    line-height: 2.4em;
}

.projetos {
    padding: 2em;
    height: 100vh;
}

.projetos h2 {
    color: whitesmoke;
    font-family: 'Shadows Into Light', monospace;
    font-size: 3em;
    margin: 1em;
}

.projetos .grid {
    display: grid;
    gap: 2em; /* espaçamentro entre cada c/l do grid */
}

@media (min-width: 520px) {
    .projetos .grid {
        grid-template-columns: repeat(2, 260px); /* tres colunas de 240px */
        justify-content: center;
    }
}

@media (min-width: 700px) {
    .projetos .grid {
        grid-template-columns: repeat(3, 260px); /* tres colunas de 240px */
        justify-content: center;
    }
}

@media (min-width: 780px) {
    .projetos .grid {
        grid-template-columns: repeat(4, 260px); /* tres colunas de 240px */
        align-content: center;
        justify-content: center;
        /*height: calc(100vh - 4em - 48px - 2em);*/
    }
}

.projetos figure {
    text-align: center;
}

.img-projetos {
    height: 180px;
    width: 240px;
    object-fit: cover; /* imagens encaixando no tamanho passado */
    /*object-position: left bottom;*/
    border-radius: 10%;
}

.img-projetos:hover {
    height: 140px;
    width: 200px;
    object-fit: cover; /* imagens encaixando no tamanho passado */
    opacity: 0.8;
}

figcaption {
    color: whitesmoke;
    font-size: 1.5em;
}

/*footer {
    display: flex; /* um ao lado do outro */
    /*justify-content: space-around; /* alinha com espaço ao redor */
   /* align-items: center;
}

.rodape {
    background-color: black;
    font-size: 16px;
    margin-top: auto;
    width: 100vw;
}

.rodape ul {
    display: flex; /* um ao lado do outro */
    /*justify-content: space-around; /* alinha com espaço ao redor */
/*}

.rodape li {
    list-style: none;
}

.rodape a {
    display: block;
    padding: 10px 20px;
}
*/